<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="./" class="navbar-brand">Inspinia</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li ng-class="{active: $state.includes('share') || $state.includes('index')}">
                    <a ui-sref="share.index" > 分享代码 </a>
                </li>
                <li ng-class="{active: $state.includes('api')}">
                    <a ui-sref="api.index" > API代码 </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
