<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ShareController as share">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
      <h2>在手机百度浏览器中配置分享</h2>
      <ol class="breadcrumb">
        <li>
          <a ui-sref="share.index">Home</a>
        </li>
        <li class="active">
            <strong>Baidu</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content">
        <div class="ibox" global-alert>
          <!-- include app/share/global.html-->
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>Javascript</h5>
            <!-- <label>
              <input type="checkbox" class="js-switch" ui-switch="{size: 'small'}" ng-model="share.hideComment" />
            </label> -->
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            
            <p>在<strong>手机百度浏览器</strong>内自定义分享代码, 不需要引用任何JS, 只限于手机百度浏览器有效</p>
            <ui-codemirror ui-codemirror-opts="share.jsOptions">window.BoxShareData = {
  "successcallback": "success",//回调函数名，基本没用
  "errorcallback": "error",//回调函数名，基本没用
  "options": {
    "type": __shareDef.url,
    "mediaType": "all",
    "linkUrl": __shareDef.url,
    "title": __shareDef.title,
    "content": __shareDef.desc,
    "iconUrl": __shareDef.img,
    "imageUrl": __shareDef.img
  }
};</ui-codemirror>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>APP判断脚本</h5>
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <ui-codemirror ui-codemirror-opts="share.jsOptions">//TODO 需要补上</ui-codemirror>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>案例:</h5>
            <!-- <label>
              <input type="checkbox" class="js-switch" ui-switch="{size: 'small'}" ng-model="share.hideComment" />
            </label> -->
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <ul>
              <li>拍雪佛兰LOGO赢取迪斯尼门票 <a href="http://m.chevrolet.com.cn/act/brand/ticket/" target="_blank">http://m.chevrolet.com.cn/act/brand/ticket/</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>