<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ShareController as share">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
      <h2>{{$state.current.data.pageTitle}}</h2>
      <ol class="breadcrumb">
        <li>
          <a ui-sref="share.index">Home</a>
        </li>
        <li class="active">
            <strong>{{$state.current.data.title}}</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content">
        <div class="ibox" global-alert>
          <!-- include app/share/global.html-->
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>Javascript</h5>
            <!-- <label>
              <input type="checkbox" class="js-switch" ui-switch="{size: 'small'}" ng-model="share.hideComment" />
            </label> -->
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            
            <p>初始化默认分享内容。</p>
            <ui-codemirror ui-codemirror-opts="share.jsOptions">// ########### 要分享出去的数据 ########### //
var douyu_shareObj = {
    "from": 'douyu',
    "name": __shareDef.title,
    "proname": __shareDef.title,
    "content": __shareDef.desc,
    "url": __shareDef.img,
    "srcid": __shareDef.img,
    "link": __shareDef.url,
    "platform": 0 //分享的平台  {0：所有，1：微信，2：朋友圈，4：微博，5：QQ}
};
// ########### 调用APP功能分享(初始化页面时候主动发送分享的数据给APP) ########### //
// IOS
window.getShareData = function() {
    if (window.WebViewJavascriptBridge) {
        WebViewJavascriptBridge.send(JSON.stringify(douyu_shareObj));
    } else {
        document.addEventListener('WebViewJavascriptBridgeReady', function() {
            WebViewJavascriptBridge.send(JSON.stringify(douyu_shareObj));
        }, false);
    }
    return 1;
};

// Android
if (_browser.isDyAndroid) {
    window.Command.setShareContent(JSON.stringify(douyu_shareObj));
}</ui-codemirror>
            <p>在分享按钮的Click/Tap事件中，触发内置的分享浮层。</p>
            <ui-codemirror ui-codemirror-opts="share.jsOptions">// IOS
if (_browser.isDyIOS) {
    if (window.WebViewJavascriptBridge) {
        WebViewJavascriptBridge.send(JSON.stringify(douyu_shareObj));
    } else {
        document.addEventListener('WebViewJavascriptBridgeReady', function() {
            WebViewJavascriptBridge.send(JSON.stringify(douyu_shareObj));
        }, false);
    }
    return;
}

// Android
if (_browser.isDyAndroid) {
    window.Command.share(JSON.stringify(douyu_shareObj));
    return;
}</ui-codemirror>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>APP判断脚本</h5>
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <ui-codemirror ui-codemirror-opts="share.jsOptions">var _browser = {
    isDyAndroid: window.navigator.userAgent.match(/Douyu_Android/i) == 'douyu_android', //在斗鱼Android客户端打开
    isDyIOS: window.navigator.userAgent.match(/Douyu_IOS/i) == 'douyu_ios' //在斗鱼IOS客户端打开
};</ui-codemirror>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>案例</h5>
            <!-- <label>
              <input type="checkbox" class="js-switch" ui-switch="{size: 'small'}" ng-model="share.hideComment" />
            </label> -->
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <ul>
              <li>别克 蟹先生和他的前任们 <a href="http://m.buick.com.cn/act/excellegt/elemehanludouyu/" target="_blank">http://m.buick.com.cn/act/excellegt/elemehanludouyu/ <i class="fa fa-external-link"></i></a></li>
              <li>别克 英朗处暑食堂今日菜单 <a href="http://m.buick.com.cn/act/excellegt/elemechushudouyu/" target="_blank">http://m.buick.com.cn/act/excellegt/elemechushudouyu/ <i class="fa fa-external-link"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>