<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ShareController as share">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
      <h2>{{$state.current.data.pageTitle}}</h2>
      <ol class="breadcrumb">
        <li>
          <a ui-sref="share.index">Home</a>
        </li>
        <li class="active">
            <strong>{{$state.current.data.title}}</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content">
        <div class="ibox" global-alert>
          <!-- include app/share/global.html-->
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>HTML</h5>
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <p>引用链接中的参数 <code>api</code> 为需要调用接口的列表，未在此请求权限的接口将无法调用，需要注意区分测试和正式接口。</p>
            <ui-codemirror ui-codemirror-opts="share.htmlOptions" >&lt;!-- 在页面中引用QQ分享JS （测试接口） -->
&lt;script src="//jsapi.cs0309.imtt.qq.com/get?api=app.isInstallApk,app.share,app.setShareInfo,env.*">&lt;/script>
&lt;!-- 在页面中引用QQ分享JS （正式接口） -->
&lt;script src="//jsapi.qq.com/get?api=app.isInstallApk,app.share,app.setShareInfo,env.*">&lt;/script></ui-codemirror>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>Javascript</h5>
            <!-- <label>
              <input type="checkbox" class="js-switch" ui-switch="{size: 'small'}" ng-model="share.hideComment" />
            </label> -->
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <p>初始化分享内容。</p>
            <ui-codemirror ui-codemirror-opts="share.jsOptions">var params_qb_share = {
    /*
    {String} url 分享后点击的页面url
    {String} title 分享界面的标题
    {String} description 分享界面的描述
    {Number} to_app 0:其他设备,1:微信,2:腾讯微博,3:qq空间,4:qq好友,5:系统(仅android支持),6:微收藏(仅android支持),7:二维码,8:朋友圈,10:复制链接,11:新浪微博,12:话题圈,13:创意截图
    {String} img_url 分享内容插图
    {String} img_title 分享内容插图的标题
    {String} cus_txt 本地sharewindow编辑框中默认填写的内容
    */
    url: __shareDef.url,
    title: __shareDef.title,
    description: __shareDef.desc,
    img_url: __shareDef.img,
    img_title: '',
    cus_txt: ''
};
//设置QB内的分享内容
if (window.browser && browser.app && browser.app.setShareInfo) {
    browser.app.setShareInfo(params_qb_share, function(result) {
        console.log(result);
    });
}</ui-codemirror>
            <p>按钮点击事件，调出分享面板。</p>
            <ui-codemirror ui-codemirror-opts="share.jsOptions">browser.app.share(params_qb_share);</ui-codemirror>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>APP判断脚本</h5>
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <ui-codemirror ui-codemirror-opts="share.jsOptions">//TODO 需要补上</ui-codemirror>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>官方API说明文档</h5>
            <!-- <label>
              <input type="checkbox" class="js-switch" ui-switch="{size: 'small'}" ng-model="share.hideComment" />
            </label> -->
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <img src="assets/images/QQ-browser-app-share.jpeg" atl="qq手机浏览器 官方API说明文档" title="QQ手机浏览器 官方API说明文档">
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>案例</h5>
            <!-- <label>
              <input type="checkbox" class="js-switch" ui-switch="{size: 'small'}" ng-model="share.hideComment" />
            </label> -->
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <ul>
              <li>别克S弯 2016 绕桩游戏 <a href="http://m.buick.com.cn/act/brand/scurveracing_qqbrowser/" target="_blank">http://m.buick.com.cn/act/brand/scurveracing_qqbrowser/ <i class="fa fa-external-link"></i></a></li>
              <li>别克 人生的不同打开方式 <a href="http://m.buick.com.cn/act/happypromotionqqbrowser/" target="_blank">http://m.buick.com.cn/act/happypromotionqqbrowser/ <i class="fa fa-external-link"></i></a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>