<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ShareController as share">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
      <h2>{{$state.current.data.pageTitle}}</h2>
      <ol class="breadcrumb">
        <li>
          <a ui-sref="share.index">Home</a>
        </li>
        <li class="active">
            <strong>{{$state.current.data.title}}</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content">
        <div class="ibox" global-alert>
          <!-- include app/share/global.html-->
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>HTML</h5>
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <ui-codemirror ui-codemirror-opts="share.htmlOptions" >&lt;!-- 在页面中引用ydk JS -->
&lt;script src="//shared.ydstatic.com/js/ydk/ydk-1.4.0-min.js">&lt;/script></ui-codemirror>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>Javascript</h5>
            <!-- <label>
              <input type="checkbox" class="js-switch" ui-switch="{size: 'small'}" ng-model="share.hideComment" />
            </label> -->
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            
            <p>在页面中添加配置代码。<a href="assets/docs/有道词典YDK_for_第三方合作开发者.pdf" target="_blank" title="有道词典YDK_for_第三方合作开发者.pdf"><i class="fa fa-file-pdf-o"></i> 官方说明文档</a></p>
            <ui-codemirror ui-codemirror-opts="share.jsOptions">// 在 ydk.config 执行前，所有其它的 ydk api 都不会真正调用
ydk.config({ debug : false,
    jsApiList: ['checkJsApi', 'share'],
    success: function() {/* your code here. */}
});
// 分享到微信朋友圈的例子
ydk.share({
    silence: true, // 具体参考 官方说明文档
    type: "wechat_moments", // 为空则弹出分享浮层，可用的值有：qq|qq_zone|weibo|wechat|wechat_moments|yixin|yixinquan
    title: __shareDef.title, 
    desc: __shareDef.desc, 
    imgUrl: __shareDef.img, 
    link: __shareDef.url,
    success: function(res) {/* your code here. */} 
    // 其它fail, complete, cancel回调函数，参考 官方说明文档
});</ui-codemirror>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>APP判断脚本</h5>
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <ui-codemirror ui-codemirror-opts="share.jsOptions">//TODO 需要补上</ui-codemirror>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>案例:</h5>
            <!-- <label>
              <input type="checkbox" class="js-switch" ui-switch="{size: 'small'}" ng-model="share.hideComment" />
            </label> -->
            <div ibox-tools control="iboxTools"></div>
          </div>
          <div class="ibox-content">
            <ul>
              <li>别克威朗 bilibili带感合体 <a href="http://m.buick.com.cn/act/veranogs/bilibili_youdao/" target="_blank">http://m.buick.com.cn/act/veranogs/bilibili_youdao/ <i class="fa fa-external-link"></i></a></li>
              <li>别克 人生的不同打开方式 <a href="http://m.buick.com.cn/act/happypromotionyoudao/" target="_blank">http://m.buick.com.cn/act/happypromotionyoudao/ <i class="fa fa-external-link"></i></a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>